<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Council Meetings</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="C:\Users\Admin\Documents\GitHub\-SC-Meeting-Record\script.js"></script>
  </head>
  <body>
    <div id="app">

      <h1 align="center"><img src="file:///C:/Users/Admin/Documents/GitHub/-SC-Meeting-Record/SSLAIcon.jpg" alt="SSLA Icon" style="width:300px;height:200px;"
          align="center">
        SC Meet Records

      </h1>

      <ul>

          <li class="Core Committee Meeting">
            <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Core Committee Meeting</a>
              <div class="dropdown-content" id="myDropdown">
                <a href="#TheDates">The Dates</a>
                <a href="#Attendance">Attendance</a>
              </div>
            </li>
            

            <li><a href="#AssemblyMeeting">Assembly Meeting </a></li>
            <li><a href="#FacultyMeeting">Faculty Meeting </a></li>
            <li><a href="#MeetingWithDirector">Director Meeting </a></li>
            <li><a href="#Feedback">Feedback </a></li>

      </ul>

      <img src="file:///C:/Users/Admin/Desktop/Symbian/Computer%20Studies%20(Minor)/Paper%207/Lesson%205/SC.jpg"
            style="width:800px;height:500px;" align="left"/>


  <div id="app">
    <h1 align="center">Events Discussion</h1>
    <ul>
      <li v-for="Discuss in EventsDiscussion">
        {{ Discuss }}
      </li>
    </ul>

    <span> <h3> Topics that will be discussed: {{ Discuss }} </span></h3>
    <br>
    <input type="text" v-model="Discuss" placeholder="Write in me">
    <button @click="addDiscussion()" type='button'> Add the Topic </button>
    <button @click="removeDiscussion()" type='button'> Remove the Topic </button>

</div>




     <div id="app">
       <h3 align = "center"> People Attending: {{ attend }} </h3>
       <button @click="Increase()"
        v-if="attend < 13">
        Attending!
      </button>
      <p v-else> You cannot click more than 13 </p>

      <button @click="Decrease()"
       v-if="attend > 0">
      Not Attending!
    </button>

    <p v-else> You can't click less than 0 </p>
    </div>



     <ul class="sidenav" id="mySidenav">
       <li> <a class="active" href="#designations">Designation</a></li>
       <li> <a href="#president">President</a></li>
       <li class="icon">
         <a href="javascript:void(0);" style="font-size:20px;"
     onclick="myFunction()">☰</a>
   </li>
   </ul>



</script>
</body>
</html>
