<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Student Council Meetings</title>
    <script src="vue.js"></script>
    <link rel="stylesheet" href="styles.css">
    <script src="C:\Users\Admin\Documents\GitHub\-SC-Meeting-Record\script.js"></script>
  </head>
  <body>
    <div id="app">

      <h1 align="center"><img src="file:///C:/Users/Admin/Documents/GitHub/-SC-Meeting-Record/SSLAIcon.jpg" alt="SSLA Icon" style="width:300px;height:200px;"
          align="center">
        SC Meet Records

      </h1>

      <ul class="topnav" id="myTopNav">

          <li class="Core Committee Meeting">
            <a href="javascript:void(0)" class="dropbtn" onclick="myFunction()">Core Committee Meeting</a>
              <div class="dropdown-content" id="myDropdown">
                <a href="#TheDates">The Dates</a>
                <a href="#Attendance">Attendance</a>
              </div>
            </li>
            <script>
            function myFunction() {
              var x=
              document.getElementById("myDropdown").classlist.toggle("show");
            }
            window.onclick=function(e) {
              if (!e.target.matches('.dropbtn')){

                var dropdowns = document.getElementsByClassName("dropdown-content");
                for (var d = 0; d < dropdowns.length;d++){
                  var openDropDown = dropdowns[d];
                  if(openDropDown.classlist.contains('show')) {
                    openDropDown.classlist.remove('show');
                  }
                }
              }
            }
              </script>

            <li><a href="#AssemblyMeeting">Assembly Meeting </a></li>
            <li><a href="#FacultyMeeting">Faculty Meeting </a></li>
            <li><a href="#MeetingWithDirector">Director Meeting </a></li>
            <li><a href="#Feedback">Feedback </a></li>

      </ul>

      <img src="file:///C:/Users/Admin/Desktop/Symbian/Computer%20Studies%20(Minor)/Paper%207/Lesson%205/SC.jpg"
            style="width:800px;height:500px;" align="left"/>


  <div id="app">
    <h1 align="center">Events Discussion</h1>
    <ul>
      <li v-for="Discuss in EventsDiscussion">
        {{ Discuss }}
      </li>
    </ul>

    <span> <h3> Discussion will be: {{ Discuss }} </span></h3>
    <br>
    <input type="text" v-model="Discuss" placeholder="Write in me">
    <button @click="addDiscussion()" type='button'> Add the Topic </button>
    <button @click="removeDiscussion()" type='button'> Remove the Topic </button>

</div>

<script src="vue.js"></script>
  <script>
    new Vue({
      el: "#app",
      data: {
        EventsDiscussion: [
              "Food Plate Ban",
              "Cultural Meet",
            ],
            Discuss:""
          },
          methods: {
            addDiscussion: function(){
              this.EventsDiscussion.push(this.Discuss);
              this.Discuss="";
            },
          removeDiscussion: function(){

            this.EventsDiscussion.pop(this.Discuss);
          }
        }
     })
     </script>

     <div id="app";


     <ul class="sidenav" id="mySidenav">
       <li> <a class="active" href="#designations">Designation</a></li>
       <li> <a href="#president">President</a></li>
       <li class="icon">
         <a href="javascript:void(0);" style="font-size:20px;"
     onclick="myFunction()">☰</a>
   </li>
   </ul>

</script>
</body>
</html>
