
body{
  background-image:url(file:///C:/Users/Admin/Documents/GitHub/-SC-Meeting-Record/bag.jpg);
}

/* Style for the headings */

h1{
  color: #1F618D;
  font-family:times;
  font-size: 300%;
}

h3{
  color:#4A235A;
  font-family: times;
  font-size: 200%;
}

h2{
  color: #4A235A;
  font-family: times;
  font-size: 200%;
}

h4{
  color:purple;
  font-family: times;
  font-size: 100%
}

h5{
  float: right;
  font-size: 200%;
  color: purple;
}

p{
  color: #1F618D;
  font-family: times;
  font-size: 150%;
}

button{
  box-sizing: border-box;
  color: #0B5345;
  width: 150px;
  height: 50px;
  align-items: center;
}

    ul{
      list-style-type: none;;
      overflow: hidden;
      background-color: black;
    }

    ul.topnav li {float: left;
                  border-right: 1px solid white;
                 }


    ul.topnav li a{
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      transition: 0.7s;
      font-size: 18px;
      font-family: times;
    }
    li a:hover{
      background-color: teal;
    }

    /* Styling for the form */

    form{
      float: right;
      background-color: white;
      color: black;
    }



    label{
      color: darkorange;
      font-size: 20px;
    }

    span{
      color: purple;
      font-size: 130%;
      font-family: times;
    }





    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      color: white;
    }

    li{
      float: left;
    }

    li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: 12px 14px;
      text-decoration: none;
    }

    li a:hover {
      background-color: teal;
    }






/*Creating a To-Do List for the Council to add Events to discuss for. */

ul li{               /*styling list items*/
  cursor: pointer;;
  position: relative;padding: 10px 8px 10px 30px;
  background: black;
  font-size: 20px;
  transition: 0.5s;
