
body{
  background-image:url(file:///C:/Users/Admin/Documents/GitHub/-SC-Meeting-Record/Bg.jpg);
}
h1{
  color: #1F618D;
  font-family:times;
  font-size: 300%;
}

h3{
  color:#922B21;
  font-family: times;
  font-size: 200%;
}
    ul{
      list-style-type: none;;
      overflow: hidden;
      background-color: black;
    }
    /* The list in the Navigation bar floats side to side */
    ul.topnav li {float: left;
                  border-right: 1px solid white;
                 }

    ul.topnav li a{
      display: inline-block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      transition: 0.7s;
      font-size: 18px;
      font-family: times;
    }
    li a:hover{
      background-color: teal;
    }

    /* The following code is for the Side Navigation Bar */

    ul.sidenav{
      overflow: hidden;
      background-color: black;
    }


    ul.sidenav li a {
      display: inline-block;
      color: white;
      text-align: center;
      padding: inherit;;
      transition: 0.4s;
      font-size: 20px;
    }

    ul.sidenav li a:hover {background-color: orange;}

    ul.sidenav li {float: right;
                  border-right: 1px solid white;
                 }

    ul.sidenav li.icon {display: list-item;}

    /* The following code is for the drop down list of Core Committee*/
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      color: white;
    }

    li{
      float: left;
    }

    li a, .dropbtn{
      display: inline-block;
      color: white;
      text-align: center;
      padding: 12px 14px;
      text-decoration: none;
    }

    li a:hover, .dropbtn:hover .dropbtn{
      background-color: teal;
    }

    li.dropdown{
      display: inline-block;
    }

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 6px 12px 0px rgba(0,0,0,0.2);
}

.dropdown-content a{
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: black}

.dropdown:hover .dropdown-content{
  display:block;
}

.show {display:block;}

/*Creating a To-Do List for the Council to add Events to discuss for. */

ul li{               /*styling list items*/
  cursor: pointer;;
  position: relative;padding: 10px 8px 10px 30px;
  background: black;
  font-size: 20px;
  transition: 0.3s;


-webkit-user-select: none;       /*list items are now unselectable*/
-moz-user-select:none;
-ms-user-select:none;
user-select: none;
}

input{
  border: none;
  width: 10%;
  color: inherit;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;;
  transition: 0.2s;
}
